<h3 class= "text-center"><%= t('users.signup') %></h3>

<div>
  <%= simple_form_for(@user, url: 'signup') do |form| %>
    <%= form.input :name, label: t('users.name') %>
    <%= form.input :email, label: t('users.email') %>
    <%= form.input :password, label: t('users.password') %>
    <%= form.input :password_confirmation, label: t('users.password_confirmation') %>
    <%= form.submit t('users.signup'), class: 'btn btn-outline-info d-block m-auto' %>
  <% end %>
</div>