<!DOCTYPE html>
<html>
  <head>
    <title>ToDoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="navbar-nav ml-auto flex-row bg-light">
      <nav class="col-6">
        <li class="nav-link badge"><%= link_to t("common.locale.zh-TW"), change_locale_path(locale: "zh-TW"), method: :post %></li>
        <li class="nav-link badge"><%= link_to t("common.locale.en"), change_locale_path(locale: "en"), method: :post %></li>
      </nav>
      <nav class="text-right col-6">
        <% if current_user == nil %>
          <li class="nav-link badge"><%= link_to t('users.signup'), signup_path %></li>
          <li class="nav-link badge"><%= link_to t('users.login'), login_path %></li>
        <% else %>
          <li class="nav-link badge"><%= link_to t('common.backend'), admin_users_path %></li>
          <li class="nav-link badge">Hi, <%= current_user.name %></li>
          <li class="nav-link badge"><%= link_to t('users.logout'), logout_path, method: :delete %></li>
        <% end %>
      </nav>
    </ul>
    <div class="container">
      <%= flash[:notice] %>
      <%= flash[:alert] %>
      <%= yield %>
    </div>
  </body>
</html>
