<!DOCTYPE html>
<html>
  <head>
    <title>ToDoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="navbar-nav ml-auto">
      <li><%= render 'shared/task_search' %></li>
      <li class="nav-link active badge badge-light"><%= link_to t("common.locale.zh-TW"), change_locale_path(locale: "zh-TW"), method: :post %></li>
      <li class="nav-link active badge badge-light"><%= link_to t("common.locale.en"), change_locale_path(locale: "en"), method: :post %></li>
    </ul>
    <div class="container">
      <p class="flash"><%= flash[:notice] %></p>
      <%= yield %>
    </div>
  </body>
</html>
